.AR {

  @import url('https://fonts.cdnfonts.com/css/neo-sans-arabic?styles=50556,50557,50560,50561,50559,50558,50562,50563');


  .sans-serif,
  * {
    font-weight: 400;
    font-style: normal;
    font-family: 'Neo Sans Arabic', sans-serif !important;
    font-family: 'Neo Sans', sans-serif !important;

  }

  .ar-none {
    display: block;
  }

  .en-none {
    display: none;
  }

  .ar-rtl {
    direction: rtl;
  }

  .btcontavt {
    margin-left: 2.5rem;
    margin-right: inherit;
  }

  .counterBox {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .imageBox {
    box-shadow: -10px -10px #000000;
  }

  .rtltext {
    text-align: right;
  }

  .min-hcard {
    min-height: 280px;
  }

  .hdivform {
    float: left;
  }





  @media only screen and (max-width: 600px) {
    .counterBox {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-radius: 8px;
    }
  }



}