/* Define standard variables and values for website */
$bgcolor: rgb(0, 0, 0);
$textcolor: #ffffff;

.dark {
  background: $bgcolor;
}

.dark {
  .hellobox {
    background: #F5F3F0;
    color: #000000;
  }

  .dtext {
    color: $textcolor;
  }

  .dline {
    background: #ffffff;
  }

  .navbg {
    background: $bgcolor ;
  }

  .iconsun {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: rgb(0, 0, 0);
  }

  .counterBox {
    background: #F7F6F3;
  }

  .ltext {
    color: #000000;
  }

  .imageBox {

    border: 3px solid #000000;
    box-shadow: 10px 10px #ffffff;
  }


}