/* Define standard variables and values for website */
$bgcolor: rgb(0, 0, 0);
$textcolor: #ffffff;

.dark {
  background: $bgcolor;
}

.dark {
  .hellobox {
    background: #F5F3F0;
    color: #000000;
  }

  .dtext {
    color: $textcolor !important;
  }

  .dline {
    background: #ffffff;
  }

  .navbg {
    background: $bgcolor ;
  }

  .iconsun {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: rgb(0, 0, 0);
  }

  .counterBox {
    background: #F7F6F3;
  }

  .ltext {
    color: #000000;
  }

  .imageBox {

    border: 3px solid #000000;
    box-shadow: 10px 10px #ffffff;
  }

  .svgicon {
    filter: invert(0);
  }


  .queeblurL {
    border: solid 105px #000000 !important;
  }



  .queeblurR {
    border: solid 105px #000000 !important;

  }

  .cardstyle {
    padding: 18px;
    border: 1px solid #fff;

  }




  .purple {
    color: #A3B2FF;
  }

  .contact {
    color: #ffffff;
  }

  .iconcon {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
  }




  .iconcon:hover {
    background: #fff;

  }

  .test {
    filter: invert(0);
  }

  .iconcon:hover .test {
    filter: invert(1);
  }

  .h-form-input {
    color: #F7F6F3;
    border: 0 #ffffff;
    border-bottom: 1px solid #ffffff;
  }


  .h-form-input:focus,
  .h-form-input.-wfp-focus {
    background-color: rgb(255 255 255 / 13%);
    border-color: #d1d1d1;
  }


  .dark-light svg {
    fill: #ffce45;
    stroke: #ffce4552;

  }

  .dfootertext {
    color: #ffffff !important;
  }

  .uk-card-primary {
    border: 1px solid #ffffff;
    color: #ffffff;
  }

  .quotes-imge {
    filter: invert(0);
  }

  .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    padding: 14px 15px;
    background: #000000 !important;
    border-radius: 16px;
    border: 1.5px solid #fff;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    color: #ffffff;
  }

  .services-icons {
    filter: invert(1);
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }
}