@import '../scss/bootstrap.scss';
@import 'dark';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//8px
$px8: 0.5rem;
//16px
$px16: 1rem;
//18px
$px18: 1.125rem;
//24px
$px24: 1.5rem;
//26px
$px26: 1.75rem;
//32px
$px32: 2rem;
//40px
$px40: 2.5rem;
//48px
$px48: 3rem;

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular,
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Define standard variables and values for website */
$bgcolor: rgb(255, 255, 255);
$textcolor: #000000;
$fontsize: 18px;

.dtext {
  color: $textcolor !important;
}

.dectext {
  color: #a1a0a0 !important;
}

.navbg {
  background: $bgcolor ;
}

.nav-fsize {
  font-size: $px18;
}

.sub-nav,
.nav-link {
  font-size: $px18;
}

.text {
  color: $textcolor;
}

.line {
  width: 100%;
  height: 1px;
  perspective-origin: 50%;
  transform-origin: 50%;
  background-color: #191919;
  border-top-width: 0
}

.line-vertical {
  width: 100%;
  height: 100%;
  background-color: #191919
}

.iconsun {
  font-size: 25px !important;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: white;
  border: 2px solid #040404;
  padding: 5px 10px;
  border-radius: 8px;
}

.mt-section {
  margin-top: 8rem;
}

.hellobox {
  font-size: $px16;
  background: #000000;
  display: inline-block;
  padding: 10px 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.lodertype,
.dtext .typed-cursor {
  font-weight: 600;
  color: #A3B2FF;
  // text-decoration: underline;

}

.sublodertype {
  font-weight: 400;
  font-size: $px18;
}

.btcontavt {
  margin-right: $px40;
  font-size: $px16;
  color: #FFF;
  padding: 18px 24px;
  background: #183AEF;
  text-decoration: none;
  border-radius: 8px;
}

.btcontavt:hover {
  text-decoration: none;
  background: #152fc5;
  color: #FFF;
}

.contacticon {
  margin-right: $px8;
  font-size: $px24;
}

.myResume {
  font-size: $px18;
  margin-left: 2.5rem;
}

.mt-64 {
  margin-top: 4rem;
}

.counterBox {
  padding: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #000000;
}

.ltext {
  color: #ffffff;
}

.strong-about {
  color: #000000;
  font-weight: 700;
}

.counterNumber {
  font-size: $px48;
}

.counterPlus {
  color: #A3B2FF;
}



.imageBox {
  max-width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  box-shadow: 10px 10px #000000;
  border-radius: 8px;
}

.btLine {
  margin-bottom: 50px;
}

.aboutText {
  font-size: $px24;
  font-weight: 200;
}



.marquee-wrapper {
  // background: #2F394C;
  text-align: center;
}

.marquee-wrapper .container {
  overflow: hidden;
}

.marquee-inner span {
  float: left;
  width: 50%;
}

.marquee-wrapper .marquee-block {
  --total-marquee-items: 8;
  height: 205px;
  width: calc(250px*(var(--total-marquee-items)));
  /* overflow: hidden; */
  box-sizing: border-box;
  position: relative;
  /* margin: 20px auto; */
  /* background: #1B2531; */
  padding: 30px 0;
}

.marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
}

.marquee-inner.to-left {
  animation: marqueeLeft 25s linear infinite;
}

.marquee-inner.to-right {
  animation: marqueeRight 25s linear infinite;
}

.marquee-item {
  width: 230px;
  height: auto;
  display: inline-block;
  margin: 0 10px;
  float: left;
  transition: all .2s ease-out;
  // background: #00cc00;
}

.svgicon {
  filter: invert(1);
}

.psvgtag {
  font-size: 18px;
  font-weight: 400;
}

.queeblurL {
  border: solid 105px #ffffff !important;
  left: -138px;
  rotate: 180deg;
  filter: blur(25px);
  position: absolute;
  height: 100%;
  z-index: 6;
}



.queeblurR {
  border: solid 105px #ffffff !important;
  right: -138px;
  rotate: 180deg;
  filter: blur(25px);
  position: absolute;
  height: 100%;
  z-index: 6;
}

@keyframes marqueeLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.aaaaaa {
  height: 100%;
}

.hhm-nav {
  margin-left: 8;
}



.cardstyle {
  padding: 18px;
  border: 1px solid #000000;
  background: none;
}

.greenbt {
  position: absolute;
  background: rgb(74 226 144);
  color: #ffffff;
}

// .textcarfb {
//   font-weight: 200;
//   max-height: 120px;
//   height: 160px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box !important;
//   -webkit-line-clamp: 5;
//   -webkit-box-orient: vertical;
// }

.textcarfb {
  font-weight: 200;
  // max-height: 166px;
  // height: 173px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // display: -webkit-box !important;
  // -webkit-line-clamp: 5;
  // -webkit-box-orient: vertical;
}

.purple {
  text-align: center;
  margin-bottom: 8px;
  color: #1f1f1f;
  background-color: #e4e4e4;
  padding: 6px 13px;
  border-radius: 5px;
  font-size: 14px;
}

.contact {
  text-decoration: none;
  color: #000000;
}

.iconcon {
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 10px;
}

.iconcon:hover {
  background: #000000;

}

.test {
  filter: invert(1);
}

.iconcon:hover .test {
  filter: invert(0);
}

.iconwidth {
  width: 25px;
}



.form-input {
  min-height: 4rem;
  background-color: transparent;
  border: 0 #000;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 0;
  padding: 1rem;
  font-family: Roboto Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: background-color .2s, border .2s
}

.form-input:active {
  border-color: #191919
}

.form-input:focus,
.form-input.-wfp-focus {
  background-color: rgba(0, 0, 0, .05);
  border-color: #191919
}

.form-input::-ms-input-placeholder {
  color: #191919
}

.form-input::placeholder {
  color: #191919
}

.form-input.is-text-area {
  min-height: 8rem
}

.form-input.is-newsletter {
  margin-bottom: 0;
  font-size: 1.25rem
}

.form-input.is-product-quantity {
  width: 100px;
  margin-bottom: 0
}

.form-checkbox-label {
  margin-left: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem
}

.form-label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: Roboto Mono, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 160%
}

.page-wrapper {
  border: 1px solid #191919
}

.text-size-tiny {
  font-size: .75rem;
  line-height: 160%
}

.form-checkbox-icon {
  width: 16px;
  height: 16px;
  border-color: #191919;
  border-radius: 0;
  margin: 0 .5rem 2px 0
}

.form-checkbox-icon.w--redirected-checked {
  width: 20px;
  height: 20px;
  background-color: #191919;
  background-size: 70%;
  border-color: #191919;
  border-radius: 0;
  margin: 0 .5rem 0 0
}

.form-checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: none;
  border-color: #000;
  border-radius: .125rem;
  margin: 0 .5rem 0 0
}




.h-form-input {
  width: 100%;
  min-height: 4rem;
  background-color: transparent;
  border: 0 #000;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 0;
  padding: 1rem;
  font-family: Roboto Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: background-color .2s, border .2s;
}


.h-form-input:focus,
.h-form-input.-wfp-focus {
  background-color: rgba(0, 0, 0, .05);
  border-color: #191919;
}

.h-form-input:active {
  border-color: #191919;
}

.h-form-input:focus,
.h-form-input:focus {
  border-color: #3898ec;
  outline: 0;
}


.h-text-area {
  min-height: 8rem;
}


.contact-hero-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}


.hsendbtn {
  border: none;
  background: #BAC2E9;
  color: #fff;
  padding: 13px 50px;
  border-radius: 11px;
}

.hdivform {
  float: right;
  width: 80%;
}

.dark-light svg {
  fill: #ffffffb3;
  stroke: #000000;
  width: 25PX;
}

.dfootertext {
  color: #4c4f52 !important;
  font-size: 1rem;
}


.dark-light svg {
  fill: #ffce45;
  stroke: #ffce4552;

}

.dfootertext {
  color: #ffffff;
}

.h-zindexbox {
  z-index: 99;
}

.uk-card-primary {
  background: none;
  border: 1px solid #000000;
  color: #000000;
}

.uk-card-primary.uk-card-hover:hover {
  background-color: #c3c3c32e;
  box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
}

.uk-section {
  padding-top: 15px !important;
  padding-bottom: 0px;
}

.owl-stage {
  padding-left: 0px !important;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #000;
  font-size: 17px;
  padding: 14px 15px;
  background: #ffffff !important;
  border-radius: 16px;
}

.uk-card-body {
  padding: 30px;
}

.quotes-imge {
  width: 35px !important;
  filter: invert(1);
}

.quotes-prson-imge {
  width: 75px !important;
  border-radius: 35px;
}

.position-name {
  color: #7D7985;
}


.owl-theme .owl-nav [class*=owl-] {
  color: #000;
  font-size: 0px;
  padding: 14px 15px;
  background: #ffffff !important;
  border-radius: 16px;
  border: 1px solid #000;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #000;
}

.services-icons {
  width: 100px;
  margin-bottom: 20px;
  display: block;
}


.mobile-show {
  display: none;
}

.p-l-65 {
  padding-left: 65px;
}

.min-hcard {
  min-height: 350px;
}

.subcardbox {
  font-weight: 300;
  color: #898888;
}

.padding-card-4 {
  padding: 0 4px;
}



@media only screen and (max-width: 600px) {

  .lodertype,
  .dtext .typed-cursor {
    display: table-cell;
  }

  .imageBox {
    max-width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    box-shadow: 6px 7px #000000;
    margin-bottom: 22px;
    border-radius: 8px;
  }

  .mt-section {
    margin-top: 6rem;
    overflow: hidden;

  }

  .mobile-box {
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    margin: 20px 0;
    padding: 20px 0 !important;
  }

  .mobile-tcenter {
    text-align: center;
  }

  .counterBox {
    padding: 25px;
  }

  .counterBox {
    margin: 0px 0px;
    border-radius: 16px;
  }

  .hdivform {
    float: left;
    width: 99%;
  }

  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none !important;
  }

  .imageBox {
    height: inherit;
  }

  .mobile-mt-4 {
    margin-top: 40px;
  }

  .p-l-65 {
    padding-left: 25px;
    font-size: 14px;
  }

  .aboutText li {
    margin: 15px 0;
  }

  .sublodertype {
    font-size: 14px;
  }

  .btcontavt {
    padding: 12px 12px;
  }

  .min-hcard {
    min-height: 250px;
  }
  .bordertmun {
    border-top: 1px solid #000;
  }
}